<%- include ("./partials/header") %> 

<form action="/results" method="GET">
    <div class="input-group mb-3">
        <input class="form-control" type="text" name="text" placeholder="search" required>
    </div>  
    <button class="btn btn-outline-secondary" type="submit" name="action">Search</button>
</form>

<%- include ("./partials/footer") %> 

