<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>englism</title>
</head>
<body>
    <% data.forEach(def => { %>
      <p><%= def.shortdef %></p>
    <% }) %>
   
</body>
</html>
