<%- include ("./partials/header") %> 

<div class="container heading">
  <h1>Results</h1>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-md-2">
    <% data.forEach(def => { %>
      <div class="col mb-4">
        <div class="card purple">
            <div class="card-body">
              <h5 class="card-title"><%= def.fl %></h5>
              <p class="card-text"><%= def.shortdef %></p>
          </div>
        </div>
      </div>
      <% }) %>
  </div>
</div>
   
<%- include ("./partials/footer") %> 
