/* overview */
html {
    overflow: scroll;
    overflow-x: hidden;
    max-width: 100%;
    min-width: 100%;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

body {
    max-width: 100%;
    min-width: 100%;
    font-family: 'Abel', sans-serif;
    font-size: 14px;
    background-color: rgba(79, 94, 134, 0.671);
}

a { 
    transition: all 0.3s ease; 
    text-decoration: none;
}

div {
    box-sizing: border-box;
}

/* responsive img */
img{
    width: 85%;
    height: auto;
}

.heading{
    padding-top: 5%;
}